header #header-banners {
    background: url(images/header-bg.png) no-repeat;
    background-size: 100% 100%; /* 背景图片 100% 填充 */
}

header #header-banners #header-banner-top {
    padding-top: 8px;
    padding-bottom: 8px;
    background:  url(images/header-banner-top.png) center center repeat; /* TODO: glass 特效 */
}

header #header-banners #header-banner-title {
    padding-top: 27px;
    padding-bottom: 27px;
}

header nav {
    background: url(images/header-nav-bg.png) 0 center repeat-x;
}

header nav ul li {
    list-style: none;
    float: left;
    height: 55px;
}

header nav ul li.active {
    background: url(images/header-nav-active.png) 0 0 repeat-x;
}

header nav ul li a {
    color: #fff;
    display: block;
    line-height: 55px;
    width: 144px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #fff;
    text-decoration: none;
}

header nav ul li:hover {
    background: url(images/header-nav-active.png) 0 0 repeat-x;
}

header nav ul li.header-nav-separator {
    width: 2px;
    height: 55px;
    background: url(images/header-nav-sep.png) 0 center no-repeat;
}


article {
    padding-top: 27px;
    background: url(images/background.jpg) no-repeat;
    background-size: 100% 100%;
}

article .panel {
    background-color: transparent; /* 透明背景色 */
}

article .panel .banner {
    height: 29px;
    background: url(images/panel-banner-bg.jpg) 0 0 repeat-x;
}

article .chart-panel .banner {
    border-top: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}

article .option-panel .banner {
    border: 1px solid #dbdbdb;
}

article .chart-panel .banner .banner-title {
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    display: block;
    background: url(images/panel-chart-banner-title-bg.png) 0 0 repeat-x;
    border-left: 1px solid rgb(40, 121, 184);
    padding: 0 20px;
    position: absolute;
    top: -1px;
}

article .chart-panel .banner .banner-title-end {
    background:  url(images/panel-chart-banner-title-end.png) 0 0 no-repeat;
    width: 59px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: -58px;
}

article .option-panel .banner .banner-title {
    width:  119px;
    height: 29px;
    line-height: 29px;
    position: absolute;
    top: -7px;
    left: 20px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    background: url(images/panel-option-banner-title.png) 0 0 no-repeat;
}

article .panel .body {
    height: 640px;
    clear: both;
    background-color: #fff;
    border: 1px solid #1e77b9;
}

article .panel .body .chart {
    height: 100%;
    width: 98%;
    /* 水平居中 */
    margin-left: auto;
    margin-right: auto;
}

article .option-panel .body div {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}
article .option-panel .body div li {
    list-style: none;
    height: 40px;
}

article .option-panel .body .options {
    margin-top: 15px;
}